:root {
    --white: rgb(255, 255, 255);
    --dark-grey: #1e2125;
}


.sign-in-container {
    display: block;
    overflow: auto;
    background-color: rgb(223, 223, 223);
}

.auction_background{
    display: block;
    overflow: auto;
    background-color: rgb(223, 223, 223);
}

.condition {
    color: var(--red-darkerer);
}

.carousel, .carousel-item > img {
    width:600px; height:360px;
}

.car-details {
    background-color: var(--dark-grey);
    color: var(--white);
    text-align: center;
}

#under_heart {
    line-height: 0px;
    display:inline-block;
    position:relative;
}

.heart {
    position:absolute;
    bottom: -10px;
    left: 0px;
    width: 30;
    height: 30;
    border-radius: 100%;
    text-align: center;
    align-content: center;
    background: linear-gradient(-45deg, rgba(161,94,12,1) 0%, rgba(140,0,0,1) 100%, rgba(0,212,255,1) 100%);;
    font-size: 1.3rem;
    color: var(--white);
    padding: 0.6em;
    z-index: 2;
}

.heart:hover {
    color:var(--light-orange);
    background: rgb(49, 49, 49);
}

.auction_content {
    text-align: center;
    margin: 4em;
}

#auction_content_area {
    width: 50%;
}

.profile_picture {
    height: 100px;
    width: 100px;
}

.profile_picture_comment {
    height: 50px;
    width: 50px;
}

.profile_text {
    text-decoration: none;
    color: var(--red-darkerer);
}

.profile_text:hover {
    text-decoration: none;
    color: var(--red-darkerer);
    opacity: 0.7;
}

.current_bid {
    display: inline-block;
    padding: 1.5rem;
    background: none;
    font-size: 3em;
}

#bid-container {
    border-radius: 1.0em;
}

#bid_button{
    background: linear-gradient(-45deg, rgba(161,94,12,1) 0%, rgba(140,0,0,1) 100%, rgba(0,212,255,1) 100%);
    color: var(--white);
}

#bid_button:hover {
    color: rgb(255, 157, 100);
    background: rgb(49, 49, 49);
}

#bid_input, .bid-input {
    text-align:center;
    align-self: center;
    width: 20%
}


.bid-input > input[type=number] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
    width: 30%;
    align-self: center;
}

.bid-input > input[type=number]::-webkit-inner-spin-button, 
.bid-input > input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.auction-status {
    text-indent:0.7em;
    letter-spacing: 0.7em;
}

#bid_input_box {
    padding: 0;
    border: 0;
}

.input-group-text{
    background-color: white;
}

.around-container {
    padding-top: var(--bs-gutter-x,.75rem);
    padding-bottom: var(--bs-gutter-x,.75rem);
}

#comment_section{
    background-color: var(--dark-grey);
    overflow: auto;
    text-align: justify;
    margin: 2em auto 3em;

    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.comment{
    background-color: var(--white);
    margin: 3em;
}

#comment_input{
    border: none;
    background-color: rgb(223, 223, 223);
}

#comment_button, #save_about, #save-general {
    padding: 5px, 15px;
    border-radius: 1px;
    border-color: rgb(49, 49, 49);
    transition: 0.3s;
}

#comment_button:hover, #save_about:hover, #save-general:hover {
    color: rgb(255, 157, 100);
    background: rgb(49, 49, 49);
    transition: 0.3s;
}

#moderator_button{
    background: var(--yellow);
    padding: 5px, 15px;
    color: var(--background-color);
}

#moderator_button:hover {
    color: rgb(255, 157, 100);
    background: rgb(49, 49, 49);
}

.not_moderator #moderator_button{
    display: none;

}

.chat_button{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    text-align: center;
    align-content: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 1.3rem;
    color: var(--white);
    padding: 0.6em;
    z-index: 3;
    background: linear-gradient(-45deg, rgba(161,94,12,1) 0%, rgba(140,0,0,1) 100%, rgba(0,212,255,1) 100%);
}

.chat_button:hover {
    color: rgb(255, 157, 100);
    background: rgb(49, 49, 49);
}

.chat_icon {
    margin:auto;
}

.fire-text {
    color: transparent;
    background-image: linear-gradient(to left, #31e67c, #4e98f8, #e64124, #ffd23c);
    font-weight: bold;
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 200%;
    background-size: 200%;
}

.container_auction{
    margin: auto !important;
}

.date_hour{
    display: inline;
}

@media (max-width: 1200px) {
    #auction_content_area{
        width: 100%;
    }

    .auction_content{
        margin: 0%;
    }

    #comment_section{
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .date_hour_connector{
        display:none;
    }

    .date_hour{
        display:inherit
    }

    .moderator_button_ban{
        font-size: 0.8em;
    }

    .comment{
        margin:1.5em;
    }
}
