@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

:root {
    --red-darker: #8c0000;
    --red-darkerer: #680101;
    --red-brown: #bd2000;
    --red-bright: #fa1e0e;
    --yellow: #ffbe0f;
    --light-orange: rgb(255, 157, 100);
    --orange-darker: rgb(161,94,12);
    --background-color: rgb(24, 24, 24);
    --background-color-lighter: rgb(56, 56, 56);
}

html, body {
    height: 100%;
}

.border-2 {
    border-width: 2px !important;
}

.img-cover {
    object-fit: cover;
}
