:root {
    --white: rgb(255, 255, 255);
    --dark-grey: #1e2125;
}

#create_auction_background{
    background-color: rgb(223, 223, 223);
    display: block;
    overflow: auto;
}

#create_auction{
    background-color: white;
    width: 75%;
}

.input_box{
    padding: 1em 0.75em;
    display: inline-block;
}

.append_box{
    padding: 1em 0.75em;
    display: inline-block;
}

.private_label{
    margin-left: 1em;
}

#staring_bid_group {
    min-width: 180px;
}

#submit_button{
    background: linear-gradient(-45deg, rgba(161,94,12,1) 0%, rgba(140,0,0,1) 100%, rgba(0,212,255,1) 100%);
    color: var(--white);
    margin-top: 1em;
    margin-right: 2em;
    padding: 1em 2em;
}

#submit_button:hover {
    color: rgb(255, 157, 100);
    background: rgb(49, 49, 49);
}

#image_input{
    width:75%;
}

#image_input_preview{
    width: 85%;
}

#private_content{
    display:none;
    border: thin solid var(--dark-grey);
    padding: 2em;
    margin-bottom: 2em;
    border-radius: 5px;
    width:100%;
    max-height: 30em;
}

.user_row{
    background-color: rgb(223, 223, 223);
    padding: 0 1em;
    border-bottom: thin solid var(--white);
}

@media (max-width: 1250px) { 
    #create_auction{
        width: 90%;
    }

    #submit_button{
        float: none !important;
        margin:0;
    }
}

@media (max-width: 600px) {
    #private_content{
        padding: 0;
        padding-top: 2em;
    }
}

#preview-images-zone {
    width: 100%;
    border: 1px solid #ddd;
    min-height: 250px;
    padding: 5px 5px 0px 5px;
    position: relative;
    overflow:auto;
}

#preview-images-zone > .preview-image {
    height: 90px;
    width: 90px;
    position: relative;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}
#preview-images-zone > .preview-image > .image-zone {
    width: 100%;
    height: 100%;
}
#preview-images-zone > .preview-image > .image-zone > img {
    width: 100%;
    height: 100%;
}

#preview-images-zone > .preview-image > .image-cancel {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
    color: #1e2125;
    background-color: #dddddd;
    line-height: 18px;
    padding: 0.2em;
    opacity: 50%;
}

.preview-image:hover > .image-cancel {
    display: block;
}

.image-list{
    max-width: 150px;
}