@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

:root {
    --red-darker: #8c0000;
    --red-darkerer: #680101;
    --red-brown: #bd2000;
    --red-bright: #fa1e0e;
    --yellow: #ffbe0f;
    --light-orange: rgb(255, 157, 100);
    --light-green: rgb(93, 218, 21);
}

.notification {
    position: fixed;
    right: 30px;
    bottom: 30px;
    color: rgb(255, 255, 255);
    padding: 15px 15px 15px 30px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: 7px center;
    opacity: 0.7;
    filter: alpha(opacity=70);
    vertical-align: middle;
    box-shadow: 4px 4px 4px #000;
    -webkit-box-shadow: 4px 4px 4px #000;
    -moz-box-shadow: 4px 4px 4px #000;
    z-index: 99;


    opacity: 0;
    animation: fadeIn 4s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;


    font-size: 1.5em;
}

.fa-times {
  color: var(--red-bright);
  line-height: inherit !important;
  font-size: 1.25em;
}

.fa-check {
  color: var(--light-green);
  line-height: inherit !important;
  font-size: 1.25em;
}

@keyframes fadeIn {
  from { opacity: 0; }
  30% { opacity: 1; }
  to { opacity: 0; }
}

.green-notif {
  background-color: var(--light-green);
}

.red-notif {
  background-color: var(--red-bright);
}

.cross-container {
  background-color: white;
  border-color: black;
  width: 50px !important;
  height: 50px !important;
}


.circular--portrait {
    position: absolute;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    border-style: solid; border-color: #233233;
}
  
.circular--portrait img {
    width: 100%;
    height: auto;
}

.edit-cog {
  transition: transform .3s;
}

.edit-cog:hover {
  transform: rotate(90deg);
  transition: transform .3s;
}


.username-text, .name-text, .based-on-text, .about-me-text {
  transition: transform .3s;
}

.username-text:hover, .name-text:hover, .based-on-text:hover, .about-me-text:hover {
  transform: scale(1.05,1.05);
}

.about-me-text:hover {
  transform: translateX(10px);
  transition: transform .3s;
}

.about-me-text {
  padding-right: 5%;
}

.fa-cog {
  font-size: 2em !important;
  color:rgb(31, 31, 31);
  margin-left: 0.4em;
}


#edit-profile-pic-a {
  z-index: 10;
  position: relative;
  top: 200px;
  /* left: 180px; */
  box-shadow: 0 0 6px 3px #223223;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: white;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 1.5em !important;
}

#edit-profile-pic-a:-webkit-any-link {
  text-decoration: none !important;
}

.gold{
  color: rgb(204, 174, 2);
}

.red{
  color: var(--red-darker);
}

.green{
  color: green;
}

.permission-icon {
  display:inline-block;
}

.profile-auction-gallery {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.profile-auction-gallery-title {
  margin-left: 2em;
}