.mod-gallery {
    max-height: 40em;
    background-color: var(--light-grey);
    
}

.fa-user-cog{
    color: rgb(204, 174, 2); 
}

.fa-wallet{
    color: var(--red-darker);
}

.fa-store{
    color: green;
}

#adminTextStatic{
    color: rgb(204, 174, 2);
}

#profileCardAdmin{
    /* Text Color Animation Cycle */
    color: transparent;
    /* background-image: linear-gradient(to left, #2ecc71, #4284db, #c2361e, #f39c12); */
    background-image: linear-gradient(to left, #e64c31, #fffd99, #ac8400, #ffd23c);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 200%;
    background-size: 200%;
}

@keyframes animate {
    0% {
        background-position: 0 100%;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 100%;
    }
}

#modContainer{
    max-width: 100%;
}

/* .marginsMod{
    margin-left: 6em;
    margin-right: 6em;
} */

.accordion-body{
    background-color: rgb(243, 243, 243);
}