.accordion-container {
    margin-bottom: 4rem !important;
    height: 100% !important;
}


#flush-headingOne > button,
#flush-headingTwo > button,
#flush-headingThree > button,
#flush-headingFour > button,
#flush-headingFive > button {
    font-size: calc(1.425rem + 1.9vw) !important;
}

body > div.container-fluid.bg-light.p-4 {
    min-height: 100% !important;
    overflow-y: hidden !important;
}

.accordion-button:not(.collapsed) {
    color: black !important;
    background-color:  rgb(223, 223, 223) !important;
}

.accordion-button:focus {
    border-color: rgb(223, 223, 223) !important;
    box-shadow: none !important;
}

@media (min-width: 768px) and (max-width: 1012px) {
    .tos-whole > main { 
        margin-bottom: 6.4rem !important;
    }
}