html,
body {
    height: 100%;
    background-color: var(--background-color);
}

main#error {
    margin: 0;

    background: rgb(161,94,12);
    background: linear-gradient(-0deg, var(--orange-darker) 0%, var(--red-darker) 100%);

    max-width: 25em;

    border-radius: 20px;

    padding: 3.5em 1.5em;
}

#error header {
    margin: 0em 5em 1em 5em;
}

#error img.main-icon {
    max-width: 12em;
}

#home {
    width: 50% !important;
    font-weight: bold;
    background-color: var(--background-color) !important;
}

#home:hover {
    background-color: var(--background-color-lighter) !important;
}
