@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");


/* --- Card CSS --- */


/* Hard coded to look a bit better when card at max screen size */
.card-container {
    max-height: 380px;
    max-width: 440px;
    padding-bottom: 12px;
}

.card {
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    transition: transform .3s;
    height: 100%;

}

.card:hover {
    transform: translateY(-5px);
    transition: transform .3s;
}

.car-img-thumbnail {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    min-height: fit-content;
    max-height: fit-content;
    height: 60%;
}

.card-body {
    margin-top: 5%;
}

.card-text {
    font-size: 1.2em;
}

.time-remaining-text {
    margin-bottom: 2px !important;
}

.current-value {
    margin-bottom: 0 !important;
}