html,
body {
    height: 100%;
}

main#error {
    margin: 0;

    background-color: var(--color-main-bright);

    max-width: 25em;

    text-align: center;
    border-radius: 1em;

    padding: 3.5em 1.5em;
}

#error header {
    border-bottom: 1.0mm solid black;
    padding: 0em 1.5em;
    margin: 0em 5em 1em 5em;
}

#error h1 {
    margin: 0;
    font-weight: bold;
}

#error h2 {
    margin: 0;
    font-weight: normal;
}

#error img.main-icon {
    display: block;
    margin: auto;
    max-width: 12em;
}
