@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.condition {
    font-size: 50px;
    color: #8c0000
}

.car-details {
    background-color: #42000070;
}

.heart_button {
    line-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display:inline-block;
    position:relative;
}

.heart {
    position:absolute;
    bottom: -5px;
    left: 5px;
    width: 30;
    height: 30;
    border-radius: 100%;
    border-color: #8c0000;
    border-width: medium;
    text-align: center;
    align-content: center;
    background-color: #8c000044;
}

.heart_icon{
    color: #8c0000;
}

.profile_picture {
    height: 100px;
    width: 100px;
    border: thin solid #8c0000;
}

.profile_picture_comment {
    height: 50px;
    width: 50px;
    border: thin solid #8c0000;
}

.profile_text {
    text-decoration: none;
    color: #8c0000;
}

.profile_text:hover img{
    opacity: 0.7;
}

.profile_text:hover {
    text-decoration: none;
    color: #bd2000;
}

.current_bid {
    font-size: xx-large;
    color: #bd2000;
    border: thin solid #bd2000;
    padding: 15px;
    display: inline-block;
}

.bid_button{
    background-color: #ffbe0f44;
    color: #ffbe0f;
    border: thin solid #ffbe0f;
    padding: 5px, 15px;
}

.bid_input{
    font-size: xx-large;
    color: #ffbe0f;
    border: thin solid #ffbe0f;
    padding: 15px;
    display: inline-block;
    text-align: right;
}

.countdown_box {
    border: medium solid #ffbe0f;
    padding: 5px;
    margin: 20px;
    /*color: #ffbe0f;*/
    background-color: #ffbe0f66;
}

.comment_section{
    background-color: #42000044;
}

.comment{
    border: thin solid #8c0000;
}
