@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

:root {
    --red: #8c0000;
    --red_transparent: #5c00006b;
    --user: #bd2000;
    --user_transparent: #bd200044;
    --moderator: #ffbe0f;
    --moderator_transparent: #ffbe0f44;
    --text: #eeeeee;
    --background: #111111;
}

body {
    background-color: var(--background);
    color: var(--text);
}

.create_auction{
    background-color: var(--red_transparent);
}

.input_box{
    background-color: var(--background);
    border: thin solid var(--user);
    color: var(--text);
}

.append_box{
    background-color: var(--user);
    color: var(--background);
    border:0;
}

.form-group{
    margin: 2em;
    margin-left:0;
}
